html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* main container */
.main-container {
    height: 100%;
}

/* header container  */

.main-container .header-container {
    width: 100%;
    height: 8%;
    background-color: #FCDA4B;
    text-align: center;
    padding: 1.5%;
}

/* jumbotron */

.jumbotron-container .jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
        url("jumbotron.jpg");
}

/* cards container */

.cards-container {
    margin-top: 8% !important;
}

.cards-container .row .col-md-4 .card {
    margin-bottom: 20% !important;
    border: none !important;
}

.cards-container .row .col-md-4 .card .card-header,
.cards-container .row .col-md-4 .card .card-body .card-title,
.cards-container .row .col-md-4 .card .card-body .card-text {
    text-align: center;
    height: 50px;
}