html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* main container */
.main-container {
    height: 100%;
}

/* header container  */

.main-container .header-container {
    width: 100%;
    height: 8%;
    background-color: #FCDA4B;
    text-align: center;
    padding: 1.5%;
}

/* jumbotron */

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)),
        url("/assets/images/jumbotron.jpg");
    padding-top: 10%;
    padding-bottom: 10%;
}

/* cards container */
.cards-container {
    margin-top: 5% !important;
}

.cards-container .row .col-md-6 .card-section {
    text-align: center;
    padding: 10% 15%;
    border: 0.1px solid lightgray;
    min-width: 100%;
    margin-bottom: 8%;
}

.cards-container .row .col-md-6 .card-section .card-section-body .btn-gray {
    background-color: #354A5F;
    color: white;
}